In [1]:
from os import read

In [2]:
with open('SMSSpamCollection.txt') as r:
            a=r.read()
            list=a.split('\n')
l=[]            
print(len(list))
for i in list:
    k=i.split('\t')
    
    l.append(k)

5575

In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.DataFrame(l,columns=['result','feature'])

a=df[df['result']==""].index[0]
df.drop(a,inplace=True)
df['result'].value_counts()
dummy=pd.get_dummies(df['result'],drop_first=True)
dummy

      spam
0        0
1        0
2        1
3        0
4        0
...    ...
5569     1
5570     0
5571     0
5572     0
5573     0

[5574 rows x 1 columns]

In [5]:
df=df.join(dummy)

In [6]:
df=df.drop(columns='result')

In [7]:
df

                                                feature  spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5569  This is the 2nd time we have tried 2 contact u...     1
5570              Will Ã¼ b going to esplanade fr home?     0
5571  Pity, * was in mood for that. So...any other s...     0
5572  The guy did some bitching but I acted like i'd...     0
5573                         Rofl. Its true to its name     0

[5574 rows x 2 columns]

In [8]:
x=df['feature'][:-1]

In [9]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5568    REMINDER FROM O2: To get 2.50 pounds free call...
5569    This is the 2nd time we have tried 2 contact u...
5570                Will Ã¼ b going to esplanade fr home?
5571    Pity, * was in mood for that. So...any other s...
5572    The guy did some bitching but I acted like i'd...
Name: feature, Length: 5573, dtype: object

In [10]:
y=df['spam']

In [11]:
y

0       0
1       0
2       1
3       0
4       0
       ..
5569    1
5570    0
5571    0
5572    0
5573    0
Name: spam, Length: 5574, dtype: uint8

In [12]:
y=np.array(y)

In [13]:
len(y)
len(y[y==1])

747

In [143]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words=None)

In [144]:
feature1=cv.fit_transform(df['feature'])

In [145]:
feature1.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [146]:
cv.get_feature_names_out()

array(['00', '000', '008704050406', ..., 'ãº1', 'ã¼', 'ãœ'], dtype=object)

In [147]:
from nltk.stem import PorterStemmer

In [148]:
ps=PorterStemmer()

In [149]:
df['feature']

0       go until jurong point, crazy.. avail onli in b...
1                             ok lar... joke wif u oni...
2       free entri in 2 a wkli comp to win fa cup fina...
3       u dun say so earli hor... u c alreadi then say...
4       nah i don't think he goe to usf, he live aroun...
                              ...
5569    thi is the 2nd time we have tri 2 contact u. u...
5570                    will ã¼ b go to esplanad fr home?
5571    pity, * wa in mood for that. so...ani other su...
5572    the guy did some bitch but i act like i'd be i...
5573                             rofl. it true to it name
Name: feature, Length: 5574, dtype: object

In [150]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [151]:
df['feature']=df['feature'].apply(stem)

In [165]:
X=cv.fit_transform(df['feature']).toarray()

(5574, 5000)

In [153]:
from sklearn.model_selection import train_test_split

In [154]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [155]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [156]:
model.fit(X_train,y_train)

LogisticRegression()

In [157]:
model.coef_.shape

(1, 5000)

In [158]:
y_predict=model.predict(X_test)

In [159]:
y_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [160]:
from sklearn.metrics import accuracy_score

In [161]:
accuracy=accuracy_score(y_test,y_predict)
accuracy

0.9826658696951583

In [213]:
def identifySpam(mail_text):
    new_mail_vector=cv.transform([mail_text]).toarray()
    if model.predict(new_mail_vector)[0]==1:
          return "Spam" 
    else:
          return "Ham"
#     return new_mail_vector.shape

In [214]:
mail_text='''To stop receiving these emails, Unsubscribe

logo
Need a savings account instantly?
Open Axis ASAP Digital Savings Account
with PAN + Aadhaar +Video Call
Why choose ASAP account?
Get Instant E-Debit card
A fully digital experience
Enjoy 250+ Banking Services
Extra flat 10%-15% cashback on Amazon & Flipkart
Open Now »
*T&C Apply
This e-mail is confidential. It may also be legally privileged. If you are not the addressee, you may not copy, forward, disclose or use any part of it. Internet communications cannot be guaranteed to be timely, secure, error or virus-free.The sender does not accept liability for any errors or omissions. We maintain strict security standards and procedures to prevent unauthorised access to information about you. Know more >> Copyright Axis Bank Ltd. All rights reserved. Terms & Conditions apply. Please do not share your Internet Banking details, such as ID/password or your Credit/Debit Card number/CVV/OTP with anyone, Either over phone or through email. Do not click on link from uknown/unsecured sources that seek your confidential information.'''

In [215]:
print(identifySpam(mail_text))

Spam

In [220]:
mail_text3="fm how are ou i am good"

In [221]:
identifySpam(mail_text3)

'Ham'